/* setting base colors for later use*/
:root {
    --primary: #7f9fb1;
    --secondary: #7c8588;
    --tertiary: #788185;
    --light-dark: #646597;
    --dark: #2e2f3a;
    --border-radius: .3rem;
}

*{
    box-sizing: border-box;
}
/*body styling*/
body{
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.25;
    font-size: 18px;
}
/* styling all headers the same*/
h1{
    font-weight: 600;
    margin: 0;
    color: var(--dark);
    line-height: 1.15;
}
h2{
    font-weight: 600;
    margin: 0;
    color: var(--dark);
    line-height: 1.15;
}
h3{
    font-weight: 600;
    margin: 0;
    color: var(--dark);
    line-height: 1.15;
}
h4{
    font-weight: 600;
    margin: 0;
    color: var(--dark);
    line-height: 1.15;
}
h5{
    font-weight: 600;
    margin: 0;
    color: var(--dark);
    line-height: 1.15;
}
h6{
    font-weight: 600;
    margin: 0;
    color: var(--dark);
    line-height: 1.15;
}
/* styling the main */
main{
    margin: 25px auto;
    width: 95%;
}

/*btn styling*/
.btn-get {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 6px;
    width: 100%;
    display: block;
    margin: 10px 0;
    border-radius: var(--border-radius);
    color: var(--border-radius);
    border: none;
    outline: none;
    background-color: var(--tertiary);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-2px, -2px);
}
p{
    font-size: 1rem;
    margin: 5px 5px;
}
.day p{
    font-size: .8rem;
}

.btn-get:hover {
    color: var(--primary);
    background-color: var(--light-dark);
    transform: translate(0, 0);
    box-shadow: 1px 1px var(--dark);
}

.btn-inline {
    display: inline;
}

.btn-back {
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--secondary);
    transform: translate(-1px, -1px);
    display: inline-block;
    width: auto;
    margin-top: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;    
}

.hero {
    padding: 4% 4%;
    background-color: var(--dark);
    color: var(--primary);
}

.hero p {
    max-width: 50%;
}

/*title styling*/

.app-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 5px 15px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 6px var(--light-dark);
}

.list-group {
    padding: 0;
    list-style: none;
}

.list-item {
    margin-bottom: 20px;
    padding:  1.25%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
}

.list-item:hover {
    background-color: var(--dark);
}

.status-icon {
    padding: 2px 4px;
    margin: 0px 4px;
    background-color: beige;
    border-radius: var(--border-radius);
}

/* weather image */
#weather-status img{
    margin: -30px 0;
}

.icon-danger {
    color: red;
}

.icon-success{
    color: lightcyan;
}

/* UV-index card*/
.uv-index-green span{
    padding: 1px 5px;
    background-color: green;
    border-radius: 5px;
}
.uv-index-yellow span{
    padding: 1px 5px;
    background-color: yellow;
    border-radius: 5px;
}
.uv-index-red span{
    padding: 1px 5px;
    background-color: rgb(226, 59, 59);
    border-radius: 5px;
}
  
  /* CARDS */
.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}
  
.card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}
.card-header i{
    float: right;
}
  
.card-body {
    padding: 2.5%;
}
.hidden{
    visibility: hidden;
}
.day{
    background-color: cornflowerblue;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}
  
  /* FORM */
.form-label,
.form-input,
.form-textarea {
    display: block;
}
  
.form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}
  
.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
}
  
  /* HEIGHT / WIDTH UTILS */
.min-100-vh {
    min-height: 100vh;
}
  
.min-100-vw {
    min-width: 100vw;
}
  
  /* FONT UTILS */
.text-uppercase {
    text-transform: uppercase; 
}
  
  
  /* FLEX CONTENT */
.flex-row {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
  
.justify-space-between {
    justify-content: space-between;
}
  
.justify-space-around {
    justify-content: space-around;
}
  
.justify-flex-start {
    justify-content: flex-start
}
  
.justify-flex-end {
    justify-content: flex-end;
}
  
.justify-center {
    justify-content: center;
}
  
.align-stretch {
    align-items: stretch;
}
  
.align-end {
    align-items: flex-end;
}
  
.align-center {
    align-items: center;
}
  
.col-auto {
    flex-grow: 1;
}
  
.col-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
}
  
.col-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
}
  
.col-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
}
  
.col-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
}  
.col-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
}
  
.col-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
}
  
.col-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
}
  
.col-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
}
  
.col-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
}
  
.col-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
}
  
.col-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
}  
.col-12 {
    flex: 0 0 100%;
}
  
 